body, html {
    height: 100%;

    font-family: 'Orbitron', sans-serif;

}

body {
    background-image: url("./halloween.jpg");
    display: grid;
    place-items: center;

}

/* Ensemble */

.calculatrice {
    width: 22rem;
    background-color: orange;
    padding: 40px 10px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px white, 3px 3px 5px rgb(235, 213, 242);
    font-family: 'Orbitron', sans-serif;

}

cite h2 {
    padding-left: 1rem;

}

.resultat input {

    padding: 0 1rem;
    height: 4rem;
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 20px;
    text-align: right;
    border: none;
    outline: none;
    font-weight: 500;
    box-shadow: inset 1px -2px 5px black, 1px 3px 12px rgb(151 87 149);
    font-family: 'Orbitron', sans-serif;

}

/* Boutons */

.row {
    display: flex;
    justify-content: space-between;
    padding: 7px 18px;
}

.buttons {
    padding: 30px 0 0 0;
    text-align: center;
}

input[type="button"] {
    width: 30%;
    height: 3rem;
    margin: 4px;
    font-size: 23px;
    background: rgb(189, 81, 229);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: -1px -1px 5px black, 1px 1px 3px rgb(151 87 149);
    font-family: 'Orbitron', sans-serif;

}

input[type="button"]:active {
    box-shadow: inset -3px -3px 7px black, inset 3px 3px 5px rgb(135, 73, 7);
}

.reset input[type="reset"] {
    width: 100%;
    font-size: 18px;
    height: 30%;
    margin: 4px;
    font-size: 23px;
    background: rgb(189, 81, 229);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: -1px -1px 5px black, 1px 1px 3px rgb(151 87 149);
    font-family: 'Orbitron', sans-serif;

}

/* .info {
    color: rgb(253, 245, 245);
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 1rem;
    font-weight: 400px;
} */

/* Footer */

#signature {
    color: yellow;
}

#fenetre {
    margin-bottom: 10%;
}

@media screen AND (max-width: 500px) {
    .calculatrice {
        width: 90%;
    }
}